@font-face {
  font-family: 'Quicksand';
  src: url('/fonts/Quicksand-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MonaspaceNeon';
  src: url('/fonts/MonaspaceNeon-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}